<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap" rel="stylesheet">
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<main>
Главная страница
</main>

<div th:insert="blocks/footer :: footer"></div>

</body>
</html>