<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Вход</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="../static/css/home.css" th:href="@{/css/home.css}" rel="stylesheet" />
	<link href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
</head>
<body>

<header>
	<nav class="menu">
		<ul class="menu__list">
			<a class="menu__link" href="/">главная страница</a>
		</ul>
	</nav>
</header>

<main class="registercontainer">
	<form action="/login" method="post" class="registercontainer">
		<section>
			<div class="register">
				<header class="registertitle">
					<h1>Книжный бульвар</h1>
				</header>
				<h2>Система входа</h2>
				<div class="form-group">
					<label class="register_label" for="username"></label>
					<input class="registerbox" type="text" id="username" name="username" autofocus="autofocus" placeholder="E-mail">
				</div>
				<div class="form-group">
					<label class="register_label" for="password"></label>
					<input type="password" id="password" name="password" placeholder="Password" class="registerbox">
				</div>
				<div class="remember">
					<label for="remember-me" th:text="Remember-me"></label>
					<input type="checkbox" id="remember-me" name="remember-me">
				</div>
				<div class="form-group">
					<input type="submit" name="login-submit" id="login-submit" class="register__button" value="Log In">
				</div>
				<div class="form-group">
					<a type="button" class="register__button" th:href="@{/user/registration}">Registration</a>
				</div>
			</div>
		</section>
	</form>
</main>



</body>
</html>