.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

img {
    margin: 40px 0px 0px 80px;
    width: 450px;
    height: 100%;
}

h2 {
    margin: 10px auto;
    text-align: center;
    color: #f0f8ff;
    text-decoration-line: underline;
    text-decoration-style: solid;
}

p {
    color: #f0f8ff;
    letter-spacing: 1px;
}

.data {
    margin-left: 30px;
}

.datalist {
    color: #f0f8ff;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 1px;
    list-style: none;
}

.buy {
    width: 20%;
    height: 200px;
    margin-right: 80px;
    background-color: #f0f8ffd5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buybtn {
    width: 250px;
    height: 35px;
    margin: 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #578df9de;
    color: #f6fbff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.buybtn:hover {
    transition: 0.6s;
    background-color: #0038a8ea;
}