<div th:fragment="header">
    <header>
        <nav class="menu">
            <ul class="menu__list">
                <a class="menu__link" href="/lk">личный кабинет</a>
                <a class="menu__link" href="/">главная страница</a>
                <a class="menu__link" th:href="@{'/style/classic/' + ${0}}">классика</a>
                <a class="menu__link" th:href="@{'/style/detective/' + ${0}}">детектив</a>
                <a class="menu__link" th:href="@{'/style/fan/' + ${0}}">фантастика</a>
                <a class="menu__link" th:href="@{'/style/romance/' + ${0}}">романтика</a>
                <a class="menu__link" th:href="@{'/style/poesy/' + ${0}}">поэзия</a>
                <a class="menu__link" th:href="@{'/style/adventures/' + ${0}}">приключения</a>

            </ul>
        </nav>
    </header>
</div>