<div th:fragment="header">
    <header>
        <nav class="menu">
            <ul class="menu__list">
                <a class="menu__link" href="/lk">личный кабинет</a>
                <a class="menu__link" href="/">главная страница</a>
                <a class="menu__link" href="/classic">классика</a>
                <a class="menu__link" href="/detective">детектив</a>
                <a class="menu__link" href="/fan">фантастика</a>
                <a class="menu__link" href="/romance">романтика</a>
                <a class="menu__link" href="/poesy">поэзия</a>
                <a class="menu__link" href="/adventures">приключения</a>
            </ul>
        </nav>
    </header>
</div>